.bottom-nav {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  background: rgb(6, 6, 6);
  border-top: 1px solid #e60909;
}

.bottom-nav button {
  background: none;
  border: none;
  font-size: 14px;
  color: #f6f3f3;
  cursor: pointer;
}

.bottom-nav button.active {
  color: #2ff778;
  font-weight: bold;
}